@using FrontEndApp.Models  
@model FrontEndApp.Models.User 
@{
    ViewData["Title"] = "Front Page";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>@Model.Name<p>: <p>@Model.Password<p> 
